
.carbon-form-container{

    padding: 30px 0;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #ddd;
}
.carbon-form-container:last-of-type{
    border-bottom: none;
}
.carbon-form-container::after {
    content: "";
    clear: both;
    display: table;
}


.form-table{
    width:45%;
    float: left;
    margin-right: 5%;
}
.carbon-output{
    width: 45%;
    float: left;
    margin-left: 5%;
}


.carbon-output p{
    font-size:1em;
    font-family: 'Archer SSm A','Archer SSm B';
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
    color: #213e5f;
}
.carbon-output p strong{
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",sans-serif;
    padding-right:1px;
}
